name: Sync LeetCode

on:
  schedule:
    - cron: "0 */12 * * *"
  workflow_dispatch:

jobs:
  sync:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: LeetCode Sync
        uses: 0xRayquaza/leetcode-sync-action@main
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          leetcode_username: ${{ secrets.LEETCODE_USERNAME }}
          leetcode_password: ${{ secrets.LEETCODE_PASSWORD }}
          leetcode_site: ${{ secrets.LEETCODE_SITE }}
